<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            text-align: center;
            padding: 8px;
        }
        .center {
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Task</th>
            <th>Path/URL</th>
            <th>Celery</th>
            <th></th>
            <th>Result</th>
            <th>Explore</th>
        </tr>
        <tr>
            <td>Task 1</td>
            <td><input type="text" name="Task1_Path" placeholder="Enter path/url"></td>
            <td><input type="text" name="Task1_Celery" placeholder="Enter Celery"></td>
            <td><button type="Run">Run</button></td>
            <td>_____________</td>
            <td><button class="explore" type="button">Explore</button></td>
        </tr>
        <tr>
            <td>Task 2</td>
            <td><input type="text" name="Task2_Path" placeholder="Enter path/url"></td>
            <td><input type="text" name="Task2_Celery" placeholder="Enter Celery"></td>
            <td><button type="Run">Run</button></td>
            <td>_____________</td>
            <td><button class="explore" type="button">Explore</button></td>
        </tr>
        <tr>
            <td>Task 3</td>
            <td><input type="text" name="Task3_Path" placeholder="Enter path/url"></td>
            <td><input type="text" name="Task3_Celery" placeholder="Enter Celery"></td>
            <td><button type="Run">Run</button></td>
            <td>_____________</td>
            <td><button class="explore" type="button">Explore</button></td>
        </tr>
    </table>
    <br>
 
    <div class="center">
        <button id="runAll" type="button">Run All</button>
    </div>
   
</body>
</html>